.detail{
    padding: 0.2em;
}

h2, h3{
    margin-left: 0.6em;
}

h2{
    padding-top: 0.4em;
}

.description{
    font-family: 'Noto Sans KR', sans-serif;
    white-space: pre-wrap;
    padding: 1em;
    border-top: 1px solid #eee;
}