.header{
    display: flex;
    height: 4rem;
    padding: 0.8rem 1em;
    background: #fff;
    color: #000;
}

.logo{
    display: flex;
    align-items: center;
    margin-right: 1em;
}

.img{
    margin-right: 0.3em;
}

.input{
    width: 100%;
    font-size: 1.2rem;
    outline: 0;
    padding-left: 0.7rem;
    /* margin-right: 0.1em; */
    border-radius: 4px;
    border: 1px solid rgb(196, 193, 193);

}

.button{
    background-color: rgb(196, 193, 193);
    border-radius: 4px;
    cursor: pointer;
    padding: 0;
    outline: 0 none;
    border: 1px solid #eee;
}

.button:focus{
    outline: 0;
}

.buttonImg{
    height: 100%;
    padding: 0.4em 0.2em;
}