.app{
  max-width: 80rem;
}

.content{
  display: flex;
  padding: 0.8em;
  background-color: rgb(247, 247, 247);
}

.content .detail{
  flex: 1 1 70%;
}

.content .list{
  flex: 1 1 30%;
}

@media screen and (max-width: 48rem) {
  .content {
    flex-direction: column;
  }

}